div {
    border 1px solid black;
    margin: 0 auto;
    box-shadow: 5px 5px 10px wheat;
    text-align: center;
    width: 35%;
}
titulos {
    font-family: 'Trebuchet MS';
    margin: 30px;
}
sub1 {
    font-family: 'Trebuchet MS';
    margin: 30px;
}
body {
    background-color: burlywood;
}